* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Succeed Info Section */
#succeed-info {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

#succeed-info h2 {
    margin-bottom: 1rem;
    
}

#succeed-info h3 {
    margin-bottom: 1rem;
}

#succeed-info .card {
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
/* Succeed Info Section End */

/* Pre-footer */
#pre-footer {
    background-color: #002540;
    color: white;
    padding: .8rem .5rem;
}

#pre-footer div {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: 5rem;
}

#pre-footer div + div + div {
    vertical-align: bottom;
}

#pre-footer h3, p {
    padding: .2rem 0;
}
/* Pre-footer End */

/* Footer */
footer {
    padding: 0.7rem;
    text-align: center;
}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
/* Footer End */